@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body {
  font-family: 'Playfair Display', serif;
  background-image: url('../images/grocery-store.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.input {
  width: 500px;       
  margin: 0 auto;       
  border-radius: 2px;     
  text-align: center;     
  background-image: url('../images/list.png'); 
}

.input > h1 {
  margin-top: 3px;
  padding-top: 20px;
  font-size: 48px;
  margin-bottom: 10px;
}

.input > h2 {
  font-size: 22px;
  margin: 4px 0 0 0;
}

#list {
  margin-top: 0;
  padding: 5px 5px 5px 15px;
  text-align: left;
  list-style: none;
}

#list > li {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

#list > span {
  margin: 0;
}

#item {
  margin-top: 8px;
  height: 20px;
  width: 200px;
  vertical-align: center;
  border-radius:10px;
  border: 2px dashed #D1C7AC;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.mark {
  color: #808080;
  opacity: .3;
}

.delete {
  cursor: pointer;
  margin-top: 5px;
  float: right;
  height: 22px;
  width: 22px;
}

.show {
  display: inline;
}
